@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<footer class="footer">
    <p><center>&copy; 2018 - Wedding Vibes</center></p>
    <br />
</footer>